 .form-control:focus {
    border-color: #ec971f;
    box-shadow: 0px 1px 1px #eea236 inset, 0px 0px 1px #f0ad4e;
}

.form-horizontal {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.row label, .row select {
	margin-top: 2%;
}

.row button, .row a {
	margin-top: 3%;
}

#errors {
	text-align: center;
}

.list-group-item {
	margin-left: auto;
	margin-right: auto;
	margin-top : 1%;
	text-align: center;
	width: 50%;
}

#addReview {
	margin-top: 5%;
}

[class*=" col-md-"] {
	padding-right: 0;
	padding-left: 0;
}