body {
	background-image: url('../assets/siteBkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

 .form-control:focus {
    border-color: #faebcc;
    box-shadow: 0px 1px 1px #eea236 inset, 0px 0px 1px #f0ad4e;
}

.panel, .panel-heading {
	border-radius: 20px;
}

#addReviewPanel, #askQuestionPanel, #addAnswerPanel {
	margin-left: 2%;
}

 #askQuestionPanel .form-control:focus, #addAnswerPanel .form-control:focus {
    border-color:#ebccd1;
    box-shadow: 0px 1px 1px #d43f3a inset, 0px 0px 1px #d9534f;
}

.form-horizontal {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

input, select, textarea, form button, form a {
	margin-top: 3%;
}

#errors {
	text-align: center;
}

.list-group-item {
	margin-left: auto;
	margin-right: auto;
	margin-top : 1%;
	text-align: center;
	width: 50%;
}

[class*=" col-md-"] {
	padding-right: 0;
	padding-left: 0;
}

#reviews {
	margin-left: auto;
	margin-right: auto;
}

#searchLink {
	margin-left: auto;
	margin-right:auto;
	display: block;
	width: 200px;
}

.form-inline div {
	margin-right: 1%;
	float: left;
}

.form-inline div label {
	display: block;
}

#establishments {
	margin-top: 5%;
	clear: both;
}

.breadcrumb {
	padding: 8px 15px;
	list-style: none;
	background-color: #fcf8e3;
	border: 1px solid;
	border-color: #faebcc; 
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

.breadcrumb li a {
	font-size: 16px;
	color: #8a6d3b;
}

.breadcrumb li.active {
	font-size: 16px;
	color: gray;
}

.breadcrumb > li + li:before {
	padding: 0 5px;
	color: gray;
	content: "\276F";
}

.breadcrumb li:last-child a {
	float: right;
}

#logout {
	float: right;
	margin-right: 1%;
	margin-top: -50px;
	color: gray;
	font-size: 16px;
}

#establishments a {
	color: #8a6d3b;
}

#questions a {
	color: #a94442;
}

.addAnswer {
	margin-top: 3%;
}

#map {
	width: 320px;
	height: 300px;
}