 .form-control:focus {
    border-color: #ec971f;
    box-shadow: 0px 1px 1px #eea236 inset, 0px 0px 1px #f0ad4e;
}

.form-horizontal {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

input, select, textarea, form button, form a {
	margin-top: 3%;
}

#errors {
	text-align: center;
}

.list-group-item {
	margin-left: auto;
	margin-right: auto;
	margin-top : 1%;
	text-align: center;
	width: 50%;
}

[class*=" col-md-"] {
	padding-right: 0;
	padding-left: 0;
}

#reviews {
	margin-left: auto;
	margin-right: auto;
}

#searchLink {
	margin-left: auto;
	margin-right:auto;
	display: block;
	width: 30%;
}

.form-inline div {
	margin-right: 1%;
	float: left;
}

.form-inline div label {
	display: block;
}

#establishmentsList {
	margin-top: 5%;
	clear: both;
}

.breadcrumb {
	padding: 8px 15px;
	list-style: none;
	background-color: #fcf8e3;
	border: 1px solid;
	border-color: #faebcc; 
}

.breadcrumb li a {
	font-size: 16px;
	color: #8a6d3b;
}

.breadcrumb li.active {
	font-size: 16px;
	color: gray;
}

.breadcrumb > li + li:before {
	padding: 0 5px;
	color: gray;
	content: "\276F";
}

.breadcrumb li:last-child a {
	float: right;
}

#logout {
	float: right;
	margin-right: 1%;
	margin-top: -50px;
	color: gray;
	font-size: 16px;
}

#addFavourite {
	float: right;
	margin-right: 1%;
	margin-top: 2%;
}