body {
	background-image: url('../assets/bkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}


a {
	width: 100%;
	height: 130%;
	display: block;
}

table { 
	margin-left: auto;
	margin-right: auto;
	border-collapse: separate;
	border-spacing: 10px;
}

td {
	width: 150px;
}